In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from os import listdir
from os.path import isfile, join
import pickle

In [2]:
df = pd.read_excel("Project's data.xlsx")
df['Worktime'] = df['Worktime'].fillna(0)
df['Worktime'] = df['Worktime'].astype(str)
df.fillna("-", inplace = True)

In [3]:
df.head(2)

,Number,Region,City,Category,Name of the tourist site,Biaography,Location,Cordinates,Worktime,Website link
0,1,Riyadh,Riyadh,Tourist,Witer-Wonderland,It is one of the most expected attraction of R...,"On King Fahad Road, opposite King Abdullah Fin...","27.39641300878481, 36.1311613362808",1234567.0,https://xpressriyadh.com/riyadh-season-winter-...
1,2,Riyadh,Riyadh,Tourist,Riyadh Zoo,"It is a big zoo in Malaz station, it is estapl...","Malaz district, Riyadh","24.675409979746952, 46.737761274275755",234567.0,https://www.google.com/travel/things-to-do?g2l...

In [4]:
df = df.replace('Center Point ', 'Center Point')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Number                     55 non-null     int64
 1   Region                     55 non-null     object
 2   City                       55 non-null     object
 3   Category                   55 non-null     object
 4   Name of the tourist site   55 non-null     object
 5   Biaography                 55 non-null     object
 6   Location                   55 non-null     object
 7   Cordinates                 55 non-null     object
 8   Worktime                   55 non-null     object
 9   Website link               55 non-null     object
dtypes: int64(1), object(9)
memory usage: 4.4+ KB

In [6]:
df['Worktime'] = df['Worktime'].fillna(0)
df['Worktime'] = df['Worktime'].astype(str)
df.fillna("-", inplace = True)

In [7]:
df.Category.unique()

array(['Tourist', 'Historical', 'Tourist and Historical', 'Islamic'],
      dtype=object)

In [8]:
df['tourist_info'] = df['Name of the tourist site '] + "; " +df['Worktime']  + "; "+ df['Location'] + "; " + df["Cordinates "] + "; " + df["Biaography"]  + "; " + df['Website link']

In [9]:
df.head(2)

,Number,Region,City,Category,Name of the tourist site,Biaography,Location,Cordinates,Worktime,Website link,tourist_info
0,1,Riyadh,Riyadh,Tourist,Witer-Wonderland,It is one of the most expected attraction of R...,"On King Fahad Road, opposite King Abdullah Fin...","27.39641300878481, 36.1311613362808",1234567.0,https://xpressriyadh.com/riyadh-season-winter-...,Witer-Wonderland ; 1234567.0; On King Fahad Ro...
1,2,Riyadh,Riyadh,Tourist,Riyadh Zoo,"It is a big zoo in Malaz station, it is estapl...","Malaz district, Riyadh","24.675409979746952, 46.737761274275755",234567.0,https://www.google.com/travel/things-to-do?g2l...,"Riyadh Zoo; 234567.0; Malaz district, Riyadh ..."

In [10]:
test = pd.read_csv(r"test.csv")
test.head(2)

   Unnamed: 0  Age  Sex  Ethnic  Qualification  career  Status
0           0    4    1       2              3       7       0
1           1    3    0       2              4       3       0

In [11]:
model = 'tourist_model1.sav'
with open(model, 'rb') as file:
    the_model = pickle.load(file)

FileNotFoundError: [Errno 2] No such file or directory: 'tourist_model1.sav'

In [18]:
pred = the_model.predict(test)

In [24]:
if pred[-1] == 0:
    inter = 'Historical'
elif pred[-1] == 1:
    inter = 'Tourist'
elif pred[-1] == 2:
    inter = 'Islamic'
elif pred[-1] == 3:
    inter = 'Historical and Islamic'

In [25]:
reg = inter

In [26]:
dff = df.loc[df['Category'] == reg]

In [27]:
dff

,Number,Region,City,Category,Name of the tourist site,Biaography,Location,Cordinates,Worktime,Website link,tourist_info
3,4,Riyadh,Riyadh,Historical,Murabba Historical Palace,It is esaplished in Riyadh city and it is the ...,-,"24.64669671227019, 46.70976540837483",1234567.0,https://www.google.com/travel/things-to-do/see...,Murabba Historical Palace; 1234567.0; -; 24.64...
5,6,Alqassim,Buraidah,Historical,Buraidah Museum,"It is a museum, it has an amazing history trad...","Al Safra', 3144 King Abdulaziz Rd, 6165، Bura...","26.350382066300924, 43.95776812983288",23456.0,https://www.google.com/travel/things-to-do?g2l...,"Buraidah Museum; 23456.0; Al Safra', 3144 Kin..."
6,7,Alqassim,Alqassim,Historical,Aloqilat Museum,It is a hostical museum,"418, Wahtan, Buraydah 52342, Alqassim","26.29890486877519, 43.99479656052028",1234567.0,https://www.google.com/travel/things-to-do?g2l...,"Aloqilat Museum; 1234567.0; 418, Wahtan, Buray..."
16,17,Almadinah,Almadinah,Historical,Dar Al Madinah Museum,"Al-Madinah Museum is a museum in Al-Madinah, S...","Safwan Ibn Malik Al Tamimi, Al Mabuth, Medina ...","24.477326982218734, 39.688198920011004",123457.0,https://www.google.com/travel/things-to-do?g2l...,Dar Al Madinah Museum; 123457.0; Safwan Ibn Ma...
18,19,Hail,Hail,Historical,A'arif fort,It's a historical palace belongs to 12th to 14...,"Ar Riyadh, Labdah, Hail 55428","27.517251469871194, 41.70392110843003",1234567.0,https://www.google.com/travel/things-to-do?g2l...,"A'arif fort; 1234567.0; Ar Riyadh, Labdah, Hai..."
19,20,Hail,Hail,Historical,Hail Local Heritage Museum,A museum located to the south of the historic ...,"Labdah, Hail 55428","27.51630923222179, 41.70292333170843",1234567.0,https://mytrip.sa/tour/i-found-footprints-of-t...,"Hail Local Heritage Museum; 1234567.0; Labdah,..."
22,23,Aljowf,Aljowf,Historical,Marid Castle,Marid Castle is a historic military fortress l...,"Alkhaldiyah, King Saud Rd, Dumah Al Jandal 74...","29.81153152663243, 39.86789612567574",1234567.0,https://www.google.com/travel/things-to-do/see...,"Marid Castle; 1234567.0; Alkhaldiyah, King Sa..."
23,24,Aljowf,Al Qurayyat,Historical,Al-Saidi Castle,Its splendid top places give character to the ...,"9FXW+J7 Am Al-Ajras, Al Qurayyat 77413","31.4846196679491, 37.68699131239066",12345.0,https://www.google.com/travel/things-to-do/see...,"Al-Saidi Castle; 12345.0; 9FXW+J7 Am Al-Ajras,..."
28,29,Tabuk,Tabuk,Historical,Tabuk castle,This castle is one of the monuments of the Ott...,"8691 , Uthman bin Affan Rd, Tabuk 47914 3125","28.382894526023936, 36.556658320087266",1234567.0,https://www.google.com/travel/things-to-do?g2l...,"Tabuk castle; 1234567.0; 8691 , Uthman bin Aff..."
33,34,Aseer,Abha,Historical,Al Muftaha Archaeological It is a historical M...,-,"Al Muftaha Rd, 2919 - 7467 district، Abha 62521","18.21304488830541, 42.49648659663685",0.0,https://www.google.com/travel/things-to-do?g2l...,Al Muftaha Archaeological It is a historical M...
37,38,Jazan,Jazan,Historical,Turks Castle,Turks Castle is an ancient castle that sits on...,"Alqal'a, Jazan 82714","16.888167048193875, 42.54623745614579",1234567.0,https://mytrip.sa/tour/dokany-castle/,"Turks Castle; 1234567.0; Alqal'a, Jazan 82714;..."
41,42,Najran,Najran,Historical,Najran Museum,"To promote culture and local heritage, the Sau...",Prince Sultan bin AbdulAziz Rd 3785 ، Najran ...,"17.48042400905069, 44.175583930697904",1234567.0,https://www.google.com/travel/things-to-do?g2l...,Najran Museum; 1234567.0; Prince Sultan bin A...
42,43,Najran,Najran,Historical,Aan Palace,Al-Aan Palace overlooks the famous Wadi Najran...,Prince Naif bin AbdulAziz Rd 7158، Aba Lasaud...,"19.11238472629342, 44.13406190182935",1234567.0,https://www.arabnews.com/node/1590706/saudi-ar...,Aan Palace ; 1234567.0; Prince Naif bin Abdul...
46,47,AlBahah,albahah,Historical,Al Baha Museum,The Al Baha museum will propose a permanent ex...,"2696 7436 Saudi Arabia, Al Hazim 65521","20.025388785439528, 41.44611120275687",0.0,https://www.google.com/travel/things-to-do?g2l...,"Al Baha Museum; 0.0; 2696 7436 Saudi Arabia, A..."

In [29]:
dff['tourist_info'].values[0]

'Murabba Historical Palace; 1234567.0; -; 24.64669671227019, 46.70976540837483; It is esaplished in Riyadh city and it is the first palace which located outside the walls of the old city. It is called Murabba palace because its square formed by  400 X 400meters. ; https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C2503780%2C4258168%2C4270442%2C4306835%2C4317915%2C4371335%2C4401769%2C4419364%2C4429192%2C4482438%2C4486153%2C4509341%2C4515404%2C4533882%2C4536454%2C4554490%2C4562266%2C4270859%2C4284970%2C4291517&hl=en-SA&gl=sa&ssta=1&dest_mid=%2Fm%2F0dlm_&dest_state_type=sattd&dest_src=ts&sa=X&ved=2ahUKEwiWxe_XkurwAhXthf0HHcPCCNgQuL0BMAF6BAgDEBo&tcfs=EhIKCC9tLzBkbG1fEgZSaXlhZGg'

In [30]:
tf = TfidfVectorizer(analyzer="word", ngram_range=(1,4), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(dff['Category'])
tfidf_matrix.shape

(14, 1)

In [31]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim[:4, :4]

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [32]:
tourist_info = dff['tourist_info']
indices = pd.Series(dff.index, index= dff['tourist_info'])

In [33]:
def recommend(tour):
    idx = indices[tour]
    sim_scores = list(enumerate(cosine_sim[0]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse= True)
    sim_scores = sim_scores[1:21]
    dff_indices =[i[0] for i in sim_scores]
    return tourist_info.iloc[dff_indices]

In [34]:
rec = recommend(dff['tourist_info'].values[0])
rec

5     Buraidah Museum; 23456.0;  Al Safra', 3144 Kin...
6     Aloqilat Museum; 1234567.0; 418, Wahtan, Buray...
16    Dar Al Madinah Museum; 123457.0; Safwan Ibn Ma...
18    A'arif fort; 1234567.0; Ar Riyadh, Labdah, Hai...
19    Hail Local Heritage Museum; 1234567.0; Labdah,...
22    Marid Castle; 1234567.0;  Alkhaldiyah, King Sa...
23    Al-Saidi Castle; 12345.0; 9FXW+J7 Am Al-Ajras,...
28    Tabuk castle; 1234567.0; 8691 , Uthman bin Aff...
33    Al Muftaha Archaeological It is a historical M...
37    Turks Castle; 1234567.0; Alqal'a, Jazan 82714;...
41    Najran Museum; 1234567.0;  Prince Sultan bin A...
42    Aan Palace ; 1234567.0;  Prince Naif bin Abdul...
46    Al Baha Museum; 0.0; 2696 7436 Saudi Arabia, A...
Name: tourist_info, dtype: object

In [35]:
num = np.arange(len(rec))
num = num[0:]+1
data = {'Number': num, 'tourist_info':rec}

In [36]:
rec = pd.DataFrame(data)

In [37]:
new_df = pd.merge(dff, rec, on=['tourist_info'], how='inner')

In [38]:
needed = new_df[['Region', 'Category', 'Name of the tourist site ', 'Biaography',\
                 'Location', 'Cordinates ', 'Worktime', 'Website link']]

In [39]:
len(needed)

13

In [40]:
from collections import Counter
mypath = "img"
new_a = []
new_img = []
onlyfile = [f for f in listdir(mypath) if isfile(join(mypath, f))]
for a in onlyfile:
    a = (a[0:-6])
    a = ([a])
    new_a.append(a)

In [41]:
flatlist=[element for sublist in new_a for element in sublist]
a = list(set(flatlist))
print(a)

['The Green Dome', 'Winter- Wonderland', 'Al Masjid an Nabawi', 'Al Khanafah Wildlife Sanctuary', 'Buraidah Museum', 'Mount Arafat', "A'arif fort ", '20190627_190441 ', 'Aloqilat Museum', 'Center Point ', 'Center Point', 'Zaabal Castle', 'Abraj Al-Bait Towers', 'Dar Al Madinah Museum', 'Dar Al Madinah Museum ', 'Prince Saud Bin Abdul Mohsen Park', 'Olive Garden', 'Al Musawkaf Market', 'Al Tawba Mosque', 'Al-Saidi Castle', 'Marid Castle', 'Masjed Quba', 'Tabuk castle ', 'Tabuk Fortress', 'Masjid al-Haram', 'Rajajil Columns ', 'King Abdullah Park', 'Winter- Wonderlan', 'Tabuk Fortress ', 'Tabuk castle', 'Uhud Mountain', 'Winter-Wonderla', 'Riyadh Zoo', "A'arif fort", 'Murabba Historical Palace', 'Kaaba', 'Hail Local Heritage Museum']

In [107]:
val = needed['Name of the tourist site '].values
img_names = val+" 2.jpg"
img_names

array(['Riyadh Zoo 2.jpg', 'King Abdullah Park 2.jpg',
       'Center Point 2.jpg', 'Al Musawkaf Market 2.jpg',
       'Abraj Al-Bait Towers 2.jpg', 'Uhud Mountain 2.jpg',
       'The Green Dome 2.jpg', 'Prince Saud Bin Abdul Mohsen Park 2.jpg',
       'Olive Garden 2.jpg', 'Al Khanafah Wildlife Sanctuary 2.jpg',
       'Tabuk Fortress 2.jpg', 'At-Taysiyah Natural Reserve 2.jpg',
       'Jabal Sawda 2.jpg', 'The Art Street 2.jpg',
       'Green Mountain 2.jpg', 'Aseer National Park 2.jpg',
       'North Corniche Park 2.jpg', 'Tourist Edge Marina 2.jpg',
       'Al Khazzan Park 2.jpg', 'غابة سقام 2.jpg'], dtype=object)

In [113]:
app = []
lent = 20
for i in range(lent):
    app.append(img_names[i])
app

['Riyadh Zoo 2.jpg',
 'King Abdullah Park 2.jpg',
 'Center Point 2.jpg',
 'Al Musawkaf Market 2.jpg',
 'Abraj Al-Bait Towers 2.jpg',
 'Uhud Mountain 2.jpg',
 'The Green Dome 2.jpg',
 'Prince Saud Bin Abdul Mohsen Park 2.jpg',
 'Olive Garden 2.jpg',
 'Al Khanafah Wildlife Sanctuary 2.jpg',
 'Tabuk Fortress 2.jpg',
 'At-Taysiyah Natural Reserve 2.jpg',
 'Jabal Sawda 2.jpg',
 'The Art Street 2.jpg',
 'Green Mountain 2.jpg',
 'Aseer National Park 2.jpg',
 'North Corniche Park 2.jpg',
 'Tourist Edge Marina 2.jpg',
 'Al Khazzan Park 2.jpg',
 'غابة سقام 2.jpg']

In [101]:
lg = []

In [102]:
for items in img_names:
    ig_jpg = r"img/%s"%items
    lg.append(ig_jpg)
lgg = lg
lgg

['img/Riyadh Zoo 2.jpg',
 'img/King Abdullah Park 2.jpg',
 'img/Center Point 2.jpg',
 'img/Al Musawkaf Market 2.jpg',
 'img/Abraj Al-Bait Towers 2.jpg',
 'img/Uhud Mountain 2.jpg',
 'img/The Green Dome 2.jpg',
 'img/Prince Saud Bin Abdul Mohsen Park 2.jpg',
 'img/Olive Garden 2.jpg',
 'img/Al Khanafah Wildlife Sanctuary 2.jpg',
 'img/Tabuk Fortress 2.jpg',
 'img/At-Taysiyah Natural Reserve 2.jpg',
 'img/Jabal Sawda 2.jpg',
 'img/The Art Street 2.jpg',
 'img/Green Mountain 2.jpg',
 'img/Aseer National Park 2.jpg',
 'img/North Corniche Park 2.jpg',
 'img/Tourist Edge Marina 2.jpg',
 'img/Al Khazzan Park 2.jpg',
 'img/غابة سقام 2.jpg']

In [134]:
needed['Name of the tourist site '].values

array(['Riyadh Zoo', 'King Abdullah Park', 'Center Point',
       'Al Musawkaf Market', 'Abraj Al-Bait Towers', 'Uhud Mountain',
       'The Green Dome', 'Prince Saud Bin Abdul Mohsen Park',
       'Olive Garden', 'Al Khanafah Wildlife Sanctuary', 'Tabuk Fortress',
       'At-Taysiyah Natural Reserve', 'Jabal Sawda', 'The Art Street',
       'Green Mountain', 'Aseer National Park', 'North Corniche Park',
       'Tourist Edge Marina', 'Al Khazzan Park', 'غابة سقام'],
      dtype=object)

In [57]:
nots = needed['Name of the tourist site ']
nots =nots.values
nots

array(['Masjid al-Haram', 'Mount Arafat', 'Al Masjid an Nabawi',
       'Masjed Quba', 'Al Tawba Mosque'], dtype=object)

In [ ]:
for i in [len(rec)]:
    res = (rec.values[i-1])
    res = list(res.split(";"))

In [103]:
df['Name of the tourist site ']

0                                     Witer-Wonderland
1                                            Riyadh Zoo
2                                    King Abdullah Park
3                             Murabba Historical Palace
4                                         Center Point
5                                       Buraidah Museum
6                                       Aloqilat Museum
7                                    Al Musawkaf Market
8                                        Tamya Mountain
9                                  Abraj Al-Bait Towers
10                                                Kaaba
11                                      Masjid al-Haram
12                                         Mount Arafat
13                                  Al Masjid an Nabawi
14                                          Masjed Quba
15                                        Uhud Mountain
16                                Dar Al Madinah Museum
17                                       The Green Dome
18                                          A'arif fort
19                           Hail Local Heritage Museum
20                    Prince Saud Bin Abdul Mohsen Park
21                                         Olive Garden
22                                         Marid Castle
23                                      Al-Saidi Castle
24                                      Rajajil Columns
25                                        Zaabal Castle
26                       Al Khanafah Wildlife Sanctuary
27                                       Tabuk Fortress
28                                         Tabuk castle
29                                      Al Tawba Mosque
30                          At-Taysiyah Natural Reserve
31                                          Jabal Sawda
32                                       The Art Street
33    Al Muftaha Archaeological It is a historical M...
34                                       Green Mountain
35                                  Aseer National Park
36                               Jazan Heritage Village
37                                         Turks Castle
38                                  North Corniche Park
39                                  Tourist Edge Marina
40                                      Al Khazzan Park
41                                        Najran Museum
42                                          Aan Palace
43                                      قلعة و جبل رعوم
44                                            غابة سقام
45                                 Raghadan Forest Park
46                                       Al Baha Museum
47                                   Prince Hussam Park
48                                  Khairah Forest Park
49                                         Al Malad Dam
50      King Abdulaziz Center for World Culture - Ithra
51                                      Dammam Corniche
52                                        Murjan Island
53                                     Heritage Village
54                                                Tayma
Name: Name of the tourist site , dtype: object

In [19]:
df['cat'] = np.arange(0, 55)

In [20]:
df.to_csv('tour.csv')

In [21]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [22]:
x = df.drop(['Number', 'City', 'Name of the tourist site ', 'Biaography', 'Location', 'Cordinates ', \
             'Worktime', 'Website link', 'tourist_info', 'cat'], axis = 1)

In [23]:
y = df['cat']

In [24]:
y = pd.DataFrame(y, columns =['cat'])
Y = y['cat']

In [25]:
Y = y['cat']

In [26]:
X = pd.get_dummies(x, columns = ['Region','Category'])
X.head(2)

,Region_AlBahah,Region_Aljowf,Region_Almadinah,Region_Alqassim,Region_Aseer,Region_Dammam,Region_Hail,Region_Jazan,Region_Makkah,Region_Najran,Region_Northern Borders,Region_Riyadh,Region_Tabuk,Category_Historical,Category_Islamic,Category_Tourist,Category_Tourist and Historical
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [27]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
Xsc = sc.fit_transform(X)
X.columns

Index(['Region_AlBahah', 'Region_Aljowf', 'Region_Almadinah',
       'Region_Alqassim', 'Region_Aseer', 'Region_Dammam', 'Region_Hail',
       'Region_Jazan', 'Region_Makkah ', 'Region_Najran',
       'Region_Northern Borders', 'Region_Riyadh', 'Region_Tabuk',
       'Category_Historical', 'Category_Islamic', 'Category_Tourist',
       'Category_Tourist and Historical'],
      dtype='object')

In [28]:
import sklearn
sklearn.__version__

'0.21.2'

In [29]:
X = pd.DataFrame(Xsc, columns = ['Region_AlBahah', 'Region_Aljowf', 'Region_Almadinah',
       'Region_Alqassim', 'Region_Aseer', 'Region_Dammam', 'Region_Hail',
       'Region_Jazan', 'Region_Makkah ', 'Region_Najran',
       'Region_Northern Borders', 'Region_Riyadh', 'Region_Tabuk',
       'Category_Historical', 'Category_Islamic', 'Category_Tourist',
       'Category_Tourist and Historical'])
X.head()

,Region_AlBahah,Region_Aljowf,Region_Almadinah,Region_Alqassim,Region_Aseer,Region_Dammam,Region_Hail,Region_Jazan,Region_Makkah,Region_Najran,Region_Northern Borders,Region_Riyadh,Region_Tabuk,Category_Historical,Category_Islamic,Category_Tourist,Category_Tourist and Historical
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [30]:
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=1/8, random_state = 1)

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pickle

In [32]:
model = LinearRegression()
model.fit(xtrain, ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
ypred = model.predict(xtest)
ypred

array([27.8321149 ,  2.48575275, 24.534515  , 50.873981  , 33.64767033,
       33.64767033, 47.2672575 ])

In [34]:
A = [int(round(a)) for a in ypred]
# <class ‘int’>

In [35]:
tourist = df['tourist_info'].values

In [36]:
print("R2 score : %.2f" % r2_score(ytest,ypred))

R2 score : 0.99

In [37]:
print("Mean squared error: %.2f" % mean_squared_error(ytest,ypred))

Mean squared error: 3.00

In [39]:
##APP DEV

In [40]:
dff = pd.DataFrame([['Riyadh', 'Tourist']], columns =['Region', 'Category'])
table = pd.concat([x, dff])

In [41]:
table_d = pd.get_dummies(table, columns = ['Region','Category'])
table_d.head(2)

,Region_AlBahah,Region_Aljowf,Region_Almadinah,Region_Alqassim,Region_Aseer,Region_Dammam,Region_Hail,Region_Jazan,Region_Makkah,Region_Najran,Region_Northern Borders,Region_Riyadh,Region_Tabuk,Category_Historical,Category_Islamic,Category_Tourist,Category_Tourist and Historical
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0

In [42]:
table_d.columns

Index(['Region_AlBahah', 'Region_Aljowf', 'Region_Almadinah',
       'Region_Alqassim', 'Region_Aseer', 'Region_Dammam', 'Region_Hail',
       'Region_Jazan', 'Region_Makkah ', 'Region_Najran',
       'Region_Northern Borders', 'Region_Riyadh', 'Region_Tabuk',
       'Category_Historical', 'Category_Islamic', 'Category_Tourist',
       'Category_Tourist and Historical'],
      dtype='object')

In [43]:
sc = MinMaxScaler()
dfsc = sc.fit_transform(table_d)

In [44]:
testing = pd.DataFrame(dfsc, columns =['Region_AlBahah', 'Region_Aljowf', 'Region_Almadinah',
       'Region_Alqassim', 'Region_Aseer', 'Region_Dammam', 'Region_Hail',
       'Region_Jazan', 'Region_Makkah', 'Region_Najran',
       'Region_Northern Borders', 'Region_Riyadh', 'Region_Tabuk',
       'Category_Historical', 'Category_Islamic', 'Category_Tourist',
       'Category_Tourist and Historical'])

In [45]:
testing.head(2)

,Region_AlBahah,Region_Aljowf,Region_Almadinah,Region_Alqassim,Region_Aseer,Region_Dammam,Region_Hail,Region_Jazan,Region_Makkah,Region_Najran,Region_Northern Borders,Region_Riyadh,Region_Tabuk,Category_Historical,Category_Islamic,Category_Tourist,Category_Tourist and Historical
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [48]:
pred = model.predict(testing)
pred = [int(round(a)) for a in pred]

In [54]:
pred[2]

2

In [51]:
tour = []

In [52]:
for i in pred:
    tour.append(tourist[i])

In [58]:
tour[3]

'Riyadh Zoo; 234567.0;  Malaz district, Riyadh ; 24.675409979746952, 46.737761274275755; It is a big zoo in Malaz station, it is estaplished in 1957 and it was private to Roiyal Family, and became public for all people 1987. it has more than 1500 animals. ; https://www.google.com/travel/things-to-do?g2lb=2502548%2C2503780%2C4258168%2C4270442%2C4306835%2C4317915%2C4371335%2C4401769%2C4419364%2C4429192%2C4482438%2C4486153%2C4509341%2C4515404%2C4533882%2C4536454%2C4554490%2C4562266%2C4270859%2C4284970%2C4291517&hl=en-SA&gl=sa&ssta=1&dest_mid=%2Fm%2F0dlm_&dest_state_type=main&dest_src=ts&sa=X&ved=2ahUKEwiWxe_XkurwAhXthf0HHcPCCNgQuL0BMAF6BAgDEBo&tcfs=EhIKCC9tLzBkbG1fEgZSaXlhZGg'

In [119]:
#result = df['tourist_info'].iloc[0]

In [120]:
res = list(result.split(";"))

In [121]:
res

['Witer-Wonderland ',
 ' 1234567.0',
 ' On King Fahad Road, opposite King Abdullah Financial District.',
 ' 27.39641300878481, 36.1311613362808',
 ' It is one of the most expected attraction of Riyadh Season. It can receive more than 50,000 people during its season. ',
 ' https://xpressriyadh.com/riyadh-season-winter-wonderland-in-riyadh/']

In [84]:
res[-1]

' https://xpressriyadh.com/riyadh-season-winter-wonderland-in-riyadh/'

In [1]:
##LOGIN
import pandas as pd
log= pd.read_csv(r"tourist.csv")
log

            name  age gender      city                interest
0   Victor Omuya   45   male  Alqassim                 Tourist
1   Victor Omuya   12   male  Alqassim                 Tourist
2     olaojo ayo   12   male    Riyadh                 Tourist
3           toga   45   male    Riyadh                 Tourist
4     olaojo ayo   12   male    Riyadh                 Tourist
5   Victor Omuya   12   male  Alqassim                 Tourist
6     olaojo ayo   23   male    Riyadh                 Tourist
7   Victor Omuya   23   male    Aljowf                 Tourist
8           toga   12   male    Riyadh              Historical
9     olaojo ayo   12   male    Riyadh                 Tourist
10  Victor Omuya   45   male  Alqassim                 Tourist
11    olaojo ayo   45   male    Riyadh                 Tourist
12    olaojo ayo   45   male    Riyadh                 Islamic
13  Victor Omuya   45   male  Alqassim                 Islamic
14  Victor Omuya   45   male  Alqassim  Tourist and Historical
15    olaojo ayo   45   male    Riyadh                 Islamic
16    olaojo ayo   45   male    Riyadh              Historical
17          toga   45   male    Riyadh  Tourist and Historical
18  Victor Omuya   23   male  Alqassim                 Tourist
19  Victor Omuya   23   male  Alqassim                 Tourist
20          sola   12   male    Riyadh                 Tourist
21    olaojo ayo   45   male    Riyadh                 Tourist
22          toga   12   male    Riyadh                 Tourist
23  Victor Omuya   12   male  Alqassim                 Tourist
24          toga   12   male    Riyadh                 Tourist
25          toga   12   male    Riyadh                 Tourist
26  Victor Omuya   45   male  Alqassim                 Tourist
27    olaojo ayo   23   male    Riyadh                 Tourist
28  Victor Omuya   45   male  Alqassim                 Tourist
29  Victor Omuya   23   male  Alqassim                 Tourist
30    olaojo ayo   23   male    Riyadh                 Tourist
31        lolape   23   male    Riyadh                 Tourist
32        lolape   23   male    Riyadh                 Tourist
33        lolape   23   male    Riyadh                 Tourist
34        lolape   23   male    Riyadh                 Tourist
35        lolape   23   male    Riyadh                 Tourist
36        lolape   23   male    Riyadh                 Tourist
37        lolape   23   male    Riyadh                 Tourist
38        lolape   23   male    Riyadh                 Tourist
39        lolape   23   male    Riyadh                 Tourist
40        lolape   23   male    Riyadh                 Tourist
41          toga   45   male    Riyadh              Historical
42          toga   45   male    Riyadh  Tourist and Historical
43          toga   45   male    Riyadh                 Islamic
44          toga   45   male    Riyadh                 Tourist
45          toga   12   male    Riyadh                 Tourist

In [6]:
name = str(input("enter name"))

enter nametoga

In [8]:
dataf = log.loc[log['name'] == name]

In [16]:
name = dataf['name'].values[0]
name

'toga'

In [18]:
interest = dataf['interest'].values[0]
interest

'Tourist'